.container {
    display: flex;
    height: 100vh;
}
.imageContainer {
    width: 50vw;
    display: none;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.logo {
    width: 150px;
    position:absolute;
    top: 32px;
    left:32px;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 1));
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 32px;
    overflow-y: scroll;
}

.cardGame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 115px;
    padding: 0px 0px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    /* margin-bottom:16px; */
    position: relative;
    color: white;
}

.imgGame {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  /* border-radius: 8px; */
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.containerButton {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;

}

.containerTable {
    width: 100%;
    height: 700px;
    border: 1px solid white;
    overflow-y:scroll ;
}


.secondaryButton {
    border: none;
    position: relative;
    padding: 10px 23px;
    border-radius: 50px;
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 600;
    background: white;
    z-index: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.secondaryButton::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 3px;
    background: var(--btn-gradient);
    border-radius: inherit;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}
.secondaryButton:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 3px;
    background: var(--btn-gradient2);
    border-radius: inherit;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.gradiantText {
    background: var(--btn-gradient);
    -webkit-background-clip: text;
     background-clip: text;
    color: transparent;
}

.principalButton {
    /* position: fixed; */
    /* bottom: 32px; */
    /* width: 60%; */
    background: #15cfaa;
    background: var(--btn-gradient);
    padding: 8px 23px;
    border: 3px solid white;
    border-radius: 50px;
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);

}
.principalButton:hover {
    background: var(--btn-gradient2);
}
.h2{
   display: none; 
}
.h3 {
    /* display: block; */
    position: relative;
    z-index: 2;
    top: -55%;
    left: 35%;
    transform: translate(-50% -50%);
    }

    .containerRight  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
@media (orientation:landscape) {
    .imageContainer {
    width: 50vw;
    display:block;
}
    .main {
        width: 50vw;
        /* height: 100%; */
        overflow-y: scroll;
        /* max-height: 50vh; */
    }
    .logoPrincipal{
    width: 80%;
    max-width: 500px;

    position: relative;
    top: -10%;
    left: 40%;
    transform: translate(-50%,-50%);
}
    .cardGame{
        display: none;
    }
    .h2{
        display: block; 
}
.principalButton {
    /* width: 60%; */
    position:static;
    margin-top: 32px;
}
    
}